.header {
    background-color: grey;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    height:50%;
  }
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 600;
    font-style: italic;
  }